@import "tailwindcss";

@theme {
  --color-primary: #a594f9;
  --color-purple-100: #d2cdf6;
  --color-purple-50: #e3dffd;
  --color-accent: #fff0c2;
  --color-background: #fffdf9;
  --color-gray-300: #c1c1c1;
  --color-gray-100: #f5f5f5;
  --color-white: #ffffff;
  --color-text: #3a3a3a;
  --font-pretendard: var(--font-pretendard), "sans-serif";
}
